<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<head>
        <%= javascript_include_tag :defaults %>
        <%= stylesheet_link_tag 'styles'%>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=iso-8859-1" />
        <title>Whippoorwill</title>
</head>
<body>

<%= yield %>

</body>